.bg-box-propostas{
	background-image: url('/images/com-cache/bg-box-propostas.png');
	width: 540px;
	min-height: 454px;
	margin: 25px auto;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	z-index: 100;
	padding-top: 92px;
}

.tema-propostas {
	position: absolute;
	top: 55px;
	left: 129px;
	width: 282px;
	text-align: center;
	font-family: 'Lobster Two', cursive;
	color: $branco;
	text-transform: lowercase;
	font-size: 18px;
	margin-top: -5px;
}

.alternativa{
	border-bottom: 100px dotted $verde-claro;
	border-left: 14px dotted transparent;
	border-right: 8px dotted transparent;
	height: 0;
	width: 458px;
	margin-left: 43px;
	margin-bottom: 10px;
	font-weight: 700;
	font-style: italic;

	&:hover{
		border-bottom-color: $branco !important;

		& p{
			color: $verde-claro;
		}

		& .letra{
			background-color: $verde-claro;
			color: $amarelo;
		}
	}

	p{
		padding: 7px 10px 0px 20px;
		line-height: 16px;
		color: $branco;
	}
}

.letra {
	position: absolute;
	background-color: $branco;
	padding: 10px;
	left: 35px;
	margin-top: 20px;
	color: $verde-claro;

	&:hover{
	}
}
