<div class="bg-box-propostas" ng-controller="PropostasCtrl" ng-show="mostrarBox">
	<span class="tema-propostas">
		{{propostasVisiveis.tema}}
	</span>
	<div style="border-bottom: {{tamProposta1}}px solid #00bd8e" class="alternativa pointer primeira" ng-click="escolherProposta(propostasVisiveis.props[0].id_politicians)">
		<span class="letra">A</span>
		<p>{{propostasVisiveis.props[0].titulo}}</p>
	</div>
	<div style="border-bottom: {{tamProposta2}}px solid #00bd8e" class="alternativa pointer" ng-click="escolherProposta(propostasVisiveis.props[1].id_politicians)">
		<span class="letra">B</span>
		<p>{{propostasVisiveis.props[1].titulo}}</p>
	</div>
</div>

