<div class="row text-center" ng-show="mostrarBox" ng-controller="PropostasCtrl">
	<br>
	<br>
	<br>
	<div class="col-md-6 col-md-offset-3 well">
		<div class="col-md-12">
			<p>{{proposta1.titulo}}</p>
			<button class="btn btn-primary" ng-click="escolherProposta(proposta1.politicians_id)">
				Votar
			</button>
		</div>
		<div class="col-md-12">
			<p>{{proposta2.titulo}}</p>
			<button class="btn btn-primary" ng-click="escolherProposta(proposta2.politicians_id)">
				Votar
			</button>
		</div>
	</div>
</div>
