$verde-escuro: rgb(9, 63, 77);
$amarelo: rgb(210, 209, 7);
$azul-escuro: rgb(7, 33, 42);
$marrom: rgb(204, 176, 143);
$verde-claro-borda: rgb(82, 120, 130);

.box-propostas {
	position: absolute;
	top: 35%;
	left: 34%;
	width: 35%;
	background-color: $verde-escuro;
	padding: 0;
}

.box-propostas .chamada {
	background-color: $azul-escuro;
	color: $marrom;
	text-transform: uppercase;
	height: 60px;
	line-height: 60px;
	font-weight: bold;
}
.box-propostas .chamada p {
	margin: 0;
}

.box-propostas .tema {
	color: #ffffff;
	text-transform: uppercase;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid $verde-claro-borda;
	font-size: 36px;
	font-weight: bold;
}

.box-propostas .proposta {
	color: white;
	height: 105px;
	border-bottom: 1px solid $verde-claro-borda;
	margin-top: 1px;
	margin-bottom: 1px;
	cursor: pointer;
	/* Desabilita a seleção de texto */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.box-propostas .proposta:first-of-type {
	margin-bottom: 0;
}
.box-propostas .proposta:hover {
	background-color: $amarelo;
	color: $verde-escuro;
}

.box-propostas .proposta .titulo,
.box-propostas .proposta .letra-opcao {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.box-propostas .proposta .letra-opcao {
	background-color: $amarelo;
	color: $verde-escuro;
	font-weight: bold;
	width: 50px;
	height: 50px;
	line-height: 50px;
	/* Faz círculo */
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	/* Posiciona verticalmente centralizado */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
}
.box-propostas .proposta:hover .letra-opcao {
	background-color: $verde-escuro;
	color: $amarelo;
}
