#home-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	min-width: $largura-minima;
	min-height: $altura-minima;
}

.home-logo,
.subtitulo-logo{
	position: absolute;
	left: 50%;
}

.home-logo{
	width: 200px;
	margin-left: -100px;
	margin-top: 10px;
}

.subtitulo-logo{
	width: 400px;
	margin-left: -200px;
	margin-top: 185px;
	color: #fbbc47;
	font-weight: 600;
	text-align: center;
	font-size: 1.4em;
	font-style: italic;
}

.box-center{
	width: 1100px;
	margin: auto;

	&.primeiro{
		padding: 35px 40px 0;
	}
}

.capa-inicial{
	width: 100%;
	margin-top: 2%;
	border-radius: 4px;
}

.controles{
	img{
		position: relative;
	}

	.esquerda{
		float: left;
		margin-top: -3%;
	}
	.centro{
		padding-top: 4%;
	}
	.direita{
		float: right;
		margin-top: -8%;
	}
}

.dialog-login-home{
	.chamada-login{
		color: $verde-claro;
		font-family: 'Lobster Two', cursive;
		font-size: 1.4em;
		padding: 5px 35px 15px;
	}
}

.btn-facebook{
	font-family: 'Lobster Two', cursive;
	&:hover {
		color: #fff;
	}
}

.msg-registrar{
	font-size: 0.8em;

	span{
		border-bottom: 1px dotted #333;
	}
}

// Estilos para o form de login

.center-block {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.input-group .icon-addon .form-control {
	border-radius: 0;
}

.icon-addon {
	position: relative;
	color: #555;
	display: block;
}

.icon-addon:after,
.icon-addon:before {
	display: table;
	content: " ";
}

.icon-addon:after {
	clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	margin-right: 3px;
	text-align: center;
	padding: 10px 0;
	top: 1px
}

.icon-addon.addon-lg .form-control {
	line-height: 1.33;
	height: 46px;
	font-size: 18px;
	padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
	height: 30px;
	padding: 5px 10px 5px 28px;
	font-size: 12px;
	line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
	font-size: 18px;
	margin-left: 0;
	left: 11px;
	top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
	margin-left: 0;
	font-size: 12px;
	left: 5px;
	top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
	color: #2580db;
}
