.home-logo,
.subtitulo-logo{
	position: absolute;
	left: 50%;
}

.home-logo{
	width: 200px;
	margin-left: -100px;
	margin-top: 10px;
}

.subtitulo-logo{
	width: 400px;
	margin-left: -200px;
	margin-top: 185px;
	color: #fbbc47;
	font-weight: 600;
	text-align: center;
	font-size: 1.4em;
	font-style: italic;
}

.box-center{
	width: 1100px;
	margin: auto;

	&.primeiro{
		padding: 35px 40px 0;
	}
}

.capa-inicial{
	width: 100%;
	margin-top: 2%;
	border-radius: 4px;
}

.controles{
	img{
		position: relative;
	}

	.esquerda{
		float: left;
		margin-top: -3%;
	}
	.centro{
		margin-left: 9%;
		margin-top: 2%;
	}
	.direita{
		float: right;
		margin-top: 3%;
	}
}

.dialog-login-home{
	.chamada-login{
		color: $verde-claro;
		font-family: 'Lobster Two', cursive;
		font-size: 1.4em;
		padding: 5px 35px 15px;
	}
}

.btn-facebook{
	font-family: 'Lobster Two', cursive;
	&:hover {
		color: #fff;
	}
}

