$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$largura-minima: 1280px;
$altura-minima: 700px;
$verde-claro: #00BD8E;
$branco: #fff;
$amarelo: #FBBC47;
$amarelo-claro: #feffeb;
$azul-escuro: #045371;
$azul-claro: #0BC2FA;

@import 'modules/interface/interface';
@import 'modules/propostas/propostas';
@import 'modules/home/home';

.text-center{
	text-align: center;
}

.pointer{
	cursor: pointer;
}

.avatar{
	border-radius: 50%;
}

body {
	font-family: 'Roboto', sans-serif;
	/* Permite redimensionamento da janela */
	height: 100%;

    &.jogo{
		background: url('../images/com-cache/background.jpg') bottom center no-repeat fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		/* Desabilita a seleção de texto */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
			-o-user-select: none;
		user-select: none;
    }

    &.resultado, &.home{
    	background-color: $amarelo-claro;
    }
}
