.container-jogo{
	min-width: $largura-minima;
	min-height: $altura-minima;
}

.candidato-avatar{
	width: 200px;
	margin: auto;
}

.candidato-ativo{
	background-color: green;
}

.logo {
	text-align: center;
	position: relative;
	top: 10px;
}

.barra{
	margin-top: 85px;
}

.barraesquerda {
	text-align: right;
	position: relative;
	right: -40px;
	.nome-candidato {
		text-align: left;
		width: 264px;
	}
	.round {
		margin-left: 5px;
	}
}

.barradireita {
	text-align: left;
	position: relative;
	right: 40px;
	.nome-candidato {
		text-align: right;
		width: 264px;
	}
	.round {
		margin-right: 5px;
	}
}

.nome-candidato {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	margin-top: -20px;
	font-family: 'Fight';
	color: $azul-mais-escuro;
}

.round {
    display: inline-block;
    width: 22px;
    i {
    	color: $azul-escuro;
    }
}

.logo-projeto-brasil {
	background-color: #09404C;
	bottom: 0;
	width: 139px;
	position: fixed;
    left: 0;
    right: 0;
    margin: auto;
	padding: 3px 3px 7px;
	z-index: 200;
}

.canvas-box{
	position: absolute;
	bottom: 0;
	width: 100%;

	canvas{
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

.logout {
	z-index: 1000;
	position: fixed;
	top: 12px;
	width: 250px;
	right: -10px;

	img{
		float: left;
		text-shadow: 0 1px 1px #FFF;
		margin-right: 10px;
	}

	.nome{
		color: $azul-escuro;
		font-size: 1.5em;
		text-shadow: 0 1px 1px #FFF;
	}

	.acao{
		font-size: 0.95em;
		color: $azul-mais-escuro;
	}
}

.dialog-round .ngdialog-content {
	width: 100% !important;
	// height: 40px !important;
	padding: 0 !important;

	.dialog-message {
		padding: 20px 0 30px;
		font-family: 'Fight';
		color: $amarelo;
		font-size: 2.5em;
	}
}
