.container-jogo{
	min-width: $largura-minima;
	min-height: $altura-minima;
}

.candidato-avatar{
	width: 200px;
	margin: auto;
}

.candidato-ativo{
	background-color: green;
}

.logo {
	text-align: center;
	position: relative;
	top: 10px;
}

.barra{
	margin-top: 85px;
}

.barraesquerda {
	text-align: right;
	position: relative;
	right: -40px;
	.nome-candidato {
		text-align: left;
		width: 264px;
	}
	.round {
		margin-left: 5px;
	}
}

.barradireita {
	text-align: left;
	position: relative;
	right: 40px;
	.nome-candidato {
		text-align: right;
		width: 264px;
	}
	.round {
		margin-right: 5px;
	}
}

.nome-candidato {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
	margin-top: -20px;
	font-family: 'Fight';
}

.round {
    display: inline-block;
	-moz-border-radius: 17px/17px;
    -webkit-border-radius: 17px 17px;
    border-radius: 17px/17px;;
    background-color: #09404c;
    width: 17px;
    height: 17px;
}
.round-vitoria {
    border: 1px solid gray;
	background-color: #FBBC47;
}

.logo-projeto-brasil {
	background-color: #09404C;
	bottom: 0;
	width: 139px;
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
	padding: 3px 3px 7px;
	z-index: 200;
}

.canvas-box{
	position: absolute;
	bottom: 0;
	width: 100%;

	canvas{
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

.logout {
	z-index: 1000;
	position: absolute;
	top: 50px;
	right: 50px;
	border: solid 1px black;
	background-color: white;
	height: 75px;
	width: 250px;
	text-align: center;
}
