	<div class="row">
		<div class="col-xs-5 barra barraesquerda">
			<svg height="50" width="264">
				<polygon ng-attr-points="{{coordenadasIniciaisA}}" transform="scale(0.6, 0.6)" style="fill:#045371;stroke:#045371;"></polygon>
				<polygon ng-attr-points="{{coordenadasA}}" transform="scale(0.6, 0.6)" style="fill:#FBBC47;stroke:#FBBC47;"></polygon>
			</svg>
			<div class="nome-candidato pull-right">
				Dilma
				<div ng-repeat="a in range(p1.roundsGanhos)" class="round round-vitoria"><i class="fa fa-trophy"></i></div>
			</div>
		</div>
		<div class="col-xs-2 logo">
			<img src="images/com-cache/logo_ufc.png" alt="The Urna Fighter Combat" width="160px">
		</div>
		<div class="col-xs-5 barra barradireita">
			<svg height="50" width="264">
				<polygon ng-attr-points="{{coordenadasIniciaisB}}" style="fill:#045371;stroke:#045371;"  transform="translate(264, 0) scale(-0.6, 0.6) "></polygon>
				<polygon ng-attr-points="{{coordenadasB}}" style="fill:#FBBC47;stroke:#FBBC47;" transform="translate(264, 0) scale(-0.6, 0.6) "></polygon>
			</svg>
			<div class="nome-candidato pull-left">
				<div ng-repeat="a in range(p2.roundsGanhos)" class="round round-vitoria"><i class="fa fa-trophy"></i></div>
				Aécio
			</div>
		</div>
	</div>


