.candidato-avatar{
	width: 200px;
	margin: auto;
}

.candidato-ativo{
	background-color: green;
}

#container-jogo{
	min-width: 1024px;
}

body {
	/* Permite redimensionamento da janela */
	background: url('../images/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
